[Desktop Entry]
Encoding=UTF-8
Name=Backgammon by Horațiu
Type=Application
Exec=backgammon-by-horatiu
Icon=backgammon-by-horatiu
StartupWMClass=BackgammonByHoratiu
Categories=Game;
